@charset "UTF-8";
@import "css/normalize.scss";
@import "css/main.scss";

html {
  background-color: #011d35;
}

section {
  font-family: Helvetica, sans-serif;
  color: #f3f3f3;
  text-align: center;
}
